{
	"overrides": [
		{
			"files": ["*"],
			"options": {
				"tabWidth": 4,
				"useTabs": true,
				"bracketSameLine": true,
				"printWidth": 100,
				"arrowParens": "always",
				"bracketSpacing": true,
				"experimentalTernaries": true
			}
		}
	],
	"plugins": ["prettier-plugin-organize-imports"]
}
