* {
	box-sizing: border-box;
	margin: 0;
}

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	--master-hsl: 251, 54%, 45%;
	--master-text-hsl: 0, 0%, 100%;

	--slave-hsl: 156, 86%, 36%;
	--slave-text-hsl: 0, 0%, 100%;

	--background-hsl: 246, 49%, 8%;
	--background-text-hsl: 0, 0%, 100%;

	--base-hsl: 249, 48%, 12%;
	--base-text-hsl: 0, 0%, 100%;

	--radius: 0.5em;
	--radius-fab: 100000vw;

	--span: 1em;

	--transition: 0.175s ease-in;

	color-scheme: dark;
	color: hsl(var(--background-text-hsl));
	background-color: hsl(var(--background-hsl));

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

a {
	text-decoration: inherit;
	color: inherit;
}

.link {
	color: hsl(var(--slave-hsl));
}
.link:hover {
	color: hsl(var(--slave-hsl));
}

body {
	margin: 0;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

img {
	max-width: 100%;
}

.card {
	padding: calc(var(--span) * 2);
}

input {
	font: inherit;
	max-width: 100%;
	min-width: 0;
}

.btn {
	position: relative;
	display: inline-block;
	text-align: center;

	border-radius: var(--radius);
	border: 1px solid transparent;
	padding: calc(var(--span) * 0.6) calc(var(--span) * 1.2);
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: hsl(var(--base-hsl));
	color: hsl(var(--base-text-hsl));
	cursor: pointer;
	transition: var(--transition);
	transition-property: border;
}
.btn::before {
	content: "";
	position: absolute;
	inset: 0;
	border-radius: inherit;
	background-color: currentColor;
	opacity: 0;
	transition: var(--transition);
	transition-property: opacity;
}
.btn:hover::before {
	opacity: 0.1;
}
.btn:active::before {
	opacity: 0.2;
}

.btn:focus-visible {
	outline: var(--span) auto currentColor;
}
.btn:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}
