@layer global {
	* {
		box-sizing: border-box;
		margin: 0;
	}

	a {
		text-decoration: inherit;
		color: inherit;
	}

	.link {
		color: hsl(var(--second--hsl));
	}
	.link:hover {
		color: hsl(var(--second--hsl));
	}

	h1 {
		font-size: 3.2em;
		line-height: 1.1;
	}

	img {
		max-width: 100%;
	}

	input,
	textarea {
		font: inherit;
		max-width: 100%;
		min-width: 0;
	}

	.input {
		display: block;
		appearance: none;
		border-radius: var(--radius);
		border: 1px solid transparent;
		padding: calc(var(--span) * 0.6) calc(var(--span) * 1.2);

		font-size: 1em;
		font-family: inherit;

		background-color: hsl(var(--base--hsl));
		color: hsl(var(--base--text-hsl));
	}

	.input:focus-within,
	.input:focus {
		outline: solid currentColor 0.1em;
	}

	.ghost {
		display: block;
		appearance: none;
		border: none;
		padding: 0;

		font: inherit;

		background-color: transparent;
		color: inherit;
	}
	.ghost:focus-visible {
		outline: none;
	}

	.btn-glass,
	.btn-glass-text {
		display: inline-block;
		appearance: none;
		border: none;
		outline: none;
		padding: 0;
		margin: 0;
		font: inherit;
		cursor: pointer;

		transition: var(--transition);
		transition-property: background-color;

		--default-color-hsl: var(--base--text-hsl);
		background-color: transparent;
		color: hsl(var(--default-color-hsl));

		&:hover {
			background-color: hsl(var(--glass-color--hsl, var(--default-color-hsl)), 10%);
			color: hsl(var(--glass-color--hsl, var(--default-color-hsl)));
		}

		&:active {
			background-color: hsl(var(--glass-color--hsl, var(--base--text-hsl)), 20%);
			color: hsl(var(--glass-color--hsl, var(--default-color-hsl)));
		}
	}

	.btn {
		position: relative;
		display: inline-block;
		text-align: center;

		border-radius: var(--radius);
		border: 1px solid transparent;
		padding: calc(var(--span) * 0.45) calc(var(--span) * 1.2);
		font-size: 1em;
		font-weight: 500;
		font-family: inherit;
		background-color: hsl(var(--base--hsl));
		color: hsl(var(--base--text-hsl));
		cursor: pointer;
		transition: var(--transition);
		transition-property: border;
	}
	.btn::before {
		content: "";
		position: absolute;
		inset: 0;
		border-radius: inherit;
		background-color: currentColor;
		opacity: 0;
		transition: var(--transition);
		transition-property: opacity;
	}
	.btn:hover::before {
		opacity: 0.1;
	}
	.btn:active::before {
		opacity: 0.2;
	}

	.btn:focus-visible {
		outline: var(--span) auto currentColor;
	}
	.btn:disabled {
		opacity: 0.5;
		cursor: not-allowed;
	}
}
