@layer root, global;

@layer root {
	:root {
		font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
		line-height: 1.5;
		font-weight: 400;

		color-scheme: dark;
		color: hsl(var(--background-text-hsl));
		background-color: hsl(var(--background-hsl));

		font-synthesis: none;
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		-webkit-text-size-adjust: 100%;
	}

	:root {
		--number--epsilon: 2.220446049250313e-16;
		--number--max: 9007199254740991;
	}

	:root {
		--text-flip-after: 65%;

		--primary-hue: 251;
		--primary-saturation: 70%;
		--primary-lightness: 55%;

		--second-hue: var(--triadic-left-hue);
		--second-saturation: var(--triadic-left-saturation);
		--second-lightness: var(--triadic-left-lightness);

		--accent-hue: var(--analogous-right-hue);
		--accent-saturation: var(--analogous-right-saturation);
		--accent-lightness: var(--analogous-right-lightness);

		--monochromatic-a-change: 40;
		--base-hue: var(--monochromatic-a-hue);
		--base-saturation: var(--monochromatic-a-saturation);
		--base-lightness: var(--monochromatic-a-lightness);

		--monochromatic-b-change: 44;
		--background-hue: var(--monochromatic-b-hue);
		--background-saturation: var(--monochromatic-b-saturation);
		--background-lightness: var(--monochromatic-b-lightness);
	}

	:root {
		--radius: 0.5em;
		--radius-rounded: 1em;
		--radius-fab: 100000vw;

		--span: 1em;

		--transition: 0.175s ease-in;
	}

	:root {
		--complementary-hue: calc(var(--primary-hue) + 180);
		--complementary-saturation: var(--primary-saturation);
		--complementary-lightness: var(--primary-lightness);

		--monochromatic-a-hue: var(--primary-hue);
		--monochromatic-a-saturation: var(--primary-saturation);
		--monochromatic-a-lightness: calc(
			var(--primary-lightness) +
				calc(
					var(--monochromatic-a-change) *
						max(-1%, min(1%, calc(calc(calc(50% - var(--primary-lightness)) + calc(1% * var(--number--epsilon))) * var(--number--max))))
				)
		);

		--monochromatic-b-hue: var(--primary-hue);
		--monochromatic-b-saturation: var(--primary-saturation);
		--monochromatic-b-lightness: calc(
			var(--primary-lightness) +
				calc(
					var(--monochromatic-b-change) *
						max(-1%, min(1%, calc(calc(calc(50% - var(--primary-lightness)) + calc(1% * var(--number--epsilon))) * var(--number--max))))
				)
		);

		--analogous-left-hue: calc(var(--primary-hue) - 22.5);
		--analogous-left-saturation: var(--primary-saturation);
		--analogous-left-lightness: var(--primary-lightness);

		--analogous-right-hue: calc(var(--primary-hue) + 22.5);
		--analogous-right-saturation: var(--primary-saturation);
		--analogous-right-lightness: var(--primary-lightness);

		--triadic-left-hue: calc(var(--primary-hue) - 120);
		--triadic-left-saturation: var(--primary-saturation);
		--triadic-left-lightness: var(--primary-lightness);

		--triadic-right-hue: calc(var(--primary-hue) + 120);
		--triadic-right-saturation: var(--primary-saturation);
		--triadic-right-lightness: var(--primary-lightness);
	}

	:root {
		--primary-hsl: var(--primary-hue), var(--primary-saturation), var(--primary-lightness);
		--primary-text-hsl: 0, 0%,
			calc(
				100 *
					max(
						0%,
						min(1%, calc(calc(calc(var(--text-flip-after) - var(--primary-lightness)) + calc(1% * var(--number--epsilon))) * var(--number--max)))
					)
			);

		--second-hsl: var(--second-hue), var(--second-saturation), var(--second-lightness);
		--second-text-hsl: 0, 0%,
			calc(
				100 *
					max(
						0%,
						min(1%, calc(calc(calc(var(--text-flip-after) - var(--second-lightness)) + calc(1% * var(--number--epsilon))) * var(--number--max)))
					)
			);

		--accent-hsl: var(--accent-hue), var(--accent-saturation), var(--accent-lightness);
		--accent-text-hsl: 0, 0%,
			calc(
				100 *
					max(
						0%,
						min(1%, calc(calc(calc(var(--text-flip-after) - var(--accent-lightness)) + calc(1% * var(--number--epsilon))) * var(--number--max)))
					)
			);

		--base-hsl: var(--base-hue), var(--base-saturation), var(--base-lightness);
		--base-text-hsl: 0, 0%,
			calc(
				100 *
					max(0%, min(1%, calc(calc(calc(var(--text-flip-after) - var(--base-lightness)) + calc(1% * var(--number--epsilon))) * var(--number--max))))
			);

		--background-hsl: var(--background-hue), var(--background-saturation), var(--background-lightness);
		--background-text-hsl: 0, 0%,
			calc(
				100 *
					max(
						0%,
						min(1%, calc(calc(calc(var(--text-flip-after) - var(--background-lightness)) + calc(1% * var(--number--epsilon))) * var(--number--max)))
					)
			);
	}
}
