@layer root-calculated, root, global;

@layer root {
	:root {
		font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
		line-height: 1.5;
		font-weight: 400;
		font-size: clamp(0.85rem, 1.2vw, 1rem);

		color-scheme: dark;
		color: hsl(var(--background-text--hsl));
		background-color: hsl(var(--background--hsl));

		font-synthesis: none;
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		-webkit-text-size-adjust: 100%;
	}

	:root {
		--number--epsilon: 2.220446049250313e-16;
		--number--max: 1.7976931348623157e308;
	}

	:root {
		--text--flip-after: 0.65;
		--text--lightness-min: 0.08;
		--text--lightness-max: 0.95;
		--text--saturation-value: 0.22;

		--primary--hue: 250;
		--primary--saturation-value: 0.5;
		--primary--lightness-value: 0.51;

		--second--hue: var(--triadic-left--hue);
		--second--saturation-value: var(--triadic-left--saturation-value);
		--second--lightness-value: var(--triadic-left--lightness-value);

		--accent--hue: var(--analogous-right--hue);
		--accent--saturation-value: var(--analogous-right--saturation-value);
		--accent--lightness-value: var(--analogous-right--lightness-value);

		--monochromatic-a--change: 0.35;
		--base--hue: var(--monochromatic-a--hue);
		--base--saturation-value: var(--monochromatic-a--saturation-value);
		--base--lightness-value: var(--monochromatic-a--lightness-value);

		--monochromatic-b--change: 0.4;
		--background--hue: var(--monochromatic-b--hue);
		--background--saturation-value: var(--monochromatic-b--saturation-value);
		--background--lightness-value: var(--monochromatic-b--lightness-value);
	}

	:root {
		--radius: 0.5em;
		--radius-rounded: 1em;
		--radius-fab: 100000vw;

		--span: 1em;

		--transition: 0.175s ease-in;
	}
}

@layer root-calculated {
	:root {
		--complementary--hue: calc(var(--primary--hue) + 180);
		--complementary--saturation-value: var(--primary--saturation-value);
		--complementary--lightness-value: var(--primary--lightness-value);

		--complementary--saturation: calc(100% * var(--complementary--saturation-value));
		--complementary--lightness: calc(100% * var(--complementary--lightness-value));

		--monochromatic-a--hue: var(--primary--hue);
		--monochromatic-a--saturation-value: var(--primary--saturation-value);
		--monochromatic-a--lightness-value: calc(
			var(--primary--lightness-value) +
				calc(
					var(--monochromatic-a--change) *
						max(-1, min(1, calc(calc(calc(0.5 - var(--primary--lightness-value)) + var(--number--epsilon)) * var(--number--max))))
				)
		);

		--monochromatic-a--saturation: calc(100% * var(--monochromatic-a--saturation-value));
		--monochromatic-a--lightness: calc(100% * var(--monochromatic-a--lightness-value));

		--monochromatic-b--hue: var(--primary--hue);
		--monochromatic-b--saturation-value: var(--primary--saturation-value);
		--monochromatic-b--lightness-value: calc(
			var(--primary--lightness-value) +
				calc(
					var(--monochromatic-b--change) *
						max(-1, min(1, calc(calc(calc(0.5 - var(--primary--lightness-value)) + var(--number--epsilon)) * var(--number--max))))
				)
		);

		--monochromatic-b--saturation: calc(100% * var(--monochromatic-b--saturation-value));
		--monochromatic-b--lightness: calc(100% * var(--monochromatic-b--lightness-value));

		--analogous-left--hue: calc(var(--primary--hue) - 22.5);
		--analogous-left--saturation-value: var(--primary--saturation-value);
		--analogous-left--lightness-value: var(--primary--lightness-value);

		--analogous-left--saturation: calc(100% * var(--analogous-left--saturation-value));
		--analogous-left--lightness: calc(100% * var(--analogous-left--lightness-value));

		--analogous-right--hue: calc(var(--primary--hue) + 22.5);
		--analogous-right--saturation-value: var(--primary--saturation-value);
		--analogous-right--lightness-value: var(--primary--lightness-value);

		--analogous-right--saturation: calc(100% * var(--analogous-right--saturation-value));
		--analogous-right--lightness: calc(100% * var(--analogous-right--lightness-value));

		--triadic-left--hue: calc(var(--primary--hue) - 120);
		--triadic-left--saturation-value: var(--primary--saturation-value);
		--triadic-left--lightness-value: var(--primary--lightness-value);

		--triadic-left--saturation: calc(100% * var(--triadic-left--saturation-value));
		--triadic-left--lightness: calc(100% * var(--triadic-left--lightness-value));

		--triadic-right--hue: calc(var(--primary--hue) + 120);
		--triadic-right--saturation-value: var(--primary--saturation-value);
		--triadic-right--lightness-value: var(--primary--lightness-value);

		--triadic-right--saturation: calc(100% * var(--triadic-right--saturation-value));
		--triadic-right--lightness: calc(100% * var(--triadic-right--lightness-value));
	}

	:root {
		--primary--hue: var(--primary--hue);
		--primary--saturation: calc(100% * var(--primary--saturation-value));
		--primary--lightness: calc(100% * var(--primary--lightness-value));

		--primary--hsl: var(--primary--hue), var(--primary--saturation), var(--primary--lightness);
		--primary-text--hsl: var(--primary--hue), calc(100% * var(--text--saturation-value)),
			calc(
				100% *
					max(
						var(--text--lightness-min),
						min(
							var(--text--lightness-max),
							calc(calc(calc(var(--text--flip-after) - var(--primary--lightness-value)) + var(--number--epsilon)) * var(--number--max))
						)
					)
			);

		--second--hue: var(--second--hue);
		--second--saturation: calc(100% * var(--second--saturation-value));
		--second--lightness: calc(100% * var(--second--lightness-value));

		--second--hsl: var(--second--hue), var(--second--saturation), var(--second--lightness);
		--second-text--hsl: var(--second--hue), calc(100% * var(--text--saturation-value)),
			calc(
				100% *
					max(
						var(--text--lightness-min),
						min(
							var(--text--lightness-max),
							calc(calc(calc(var(--text--flip-after) - var(--second--lightness-value)) + var(--number--epsilon)) * var(--number--max))
						)
					)
			);

		--accent--hue: var(--accent--hue);
		--accent--saturation: calc(100% * var(--accent--saturation-value));
		--accent--lightness: calc(100% * var(--accent--lightness-value));

		--accent--hsl: var(--accent--hue), var(--accent--saturation), var(--accent--lightness);
		--accent-text--hsl: var(--accent--hue), calc(100% * var(--text--saturation-value)),
			calc(
				100% *
					max(
						var(--text--lightness-min),
						min(
							var(--text--lightness-max),
							calc(calc(calc(var(--text--flip-after) - var(--accent--lightness-value)) + var(--number--epsilon)) * var(--number--max))
						)
					)
			);

		--base--hue: var(--base--hue);
		--base--saturation: calc(100% * var(--base--saturation-value));
		--base--lightness: calc(100% * var(--base--lightness-value));

		--base--hsl: var(--base--hue), var(--base--saturation), var(--base--lightness);
		--base-text--hsl: var(--base--hue), calc(100% * var(--text--saturation-value)),
			calc(
				100% *
					max(
						var(--text--lightness-min),
						min(
							var(--text--lightness-max),
							calc(calc(calc(var(--text--flip-after) - var(--base--lightness-value)) + var(--number--epsilon)) * var(--number--max))
						)
					)
			);

		--background--hue: var(--background--hue);
		--background--saturation: calc(100% * var(--background--saturation-value));
		--background--lightness: calc(100% * var(--background--lightness-value));

		--background--hsl: var(--background--hue), var(--background--saturation), var(--background--lightness);
		--background-text--hsl: var(--background--hue), calc(100% * var(--text--saturation-value)),
			calc(
				100% *
					max(
						var(--text--lightness-min),
						min(
							var(--text--lightness-max),
							calc(calc(calc(var(--text--flip-after) - var(--background--lightness-value)) + var(--number--epsilon)) * var(--number--max))
						)
					)
			);
	}
}
