name: Format
on:
    push:
        branches:
            - master
jobs:
    format:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
              with:
                  ref: ${{ github.head_ref }}
            - uses: actions/setup-node@v2
              with:
                  node-version: "18.x"
            - run: npm i
            - run: npm i prettier prettier-plugin-organize-imports -D
            - run: npx prettier -w ./
            - name: Commit changes
              uses: stefanzweifel/git-auto-commit-action@v4
              with:
                  commit_message: Apply formatting changes
                  branch: ${{ github.head_ref }}
